@import url('https://fonts.googleapis.com/css?family=Open+Sans:400,700&display=swap');
/*common css start*/
body{font-family: 'Open Sans', sans-serif;}
h1,h2,h3,h4,h5,h6,p{margin: 0}
ul{padding: 0; margin: 0;}
a{display: inline-block; text-decoration: none!important; outline: none!important;}
/*common css end*/
/*header section css start*/
header {
    box-shadow: 0px 0px 20px 0px rgba(48, 48, 48, 0.5);
    display: table;
    width: 100%;
    position: relative;
    z-index: 1111;
}
.custom_container{
	width: 100%;
    padding-right: 15px;
    padding-left: 15px;
    margin-right: auto;
    margin-left: auto;
    max-width: 1450px;
}
.header_top {
    display: table;
    width: 100%;
    background-color: #008cd2;
    padding: 3px 0px;
}
ul.login_register {
    float: right;
}
ul.login_register li{
	display: inline-block;
	margin-left: 15px;
}
ul.login_register li > a{
	font-size: 13px;
    line-height: 26px;
}
ul.login_register .dropdown-menu {
    padding: 0;
    min-width: auto;
}
ul.login_register .dropdown-item{
	font-size: 13px;
    padding: 6px 10px;
}
ul.login_register .dropdown-item.active, ul.login_register .dropdown-item:active, ul.login_register .dropdown-item:hover{
	background-color: #0c4e93;
	color: #fff;
}
.header_bottom {
    display: inline-block;
    width: 100%;
    padding: 7px 0px;
    float: left;
}
.logo img {
    max-width: 175px;
}
button.navbar-toggler {
    position: absolute;
    right: 0;
    top: 0;
    bottom: 0;
    margin: auto;
    border: 1px solid #008cd2;
    height: 40px;
    width: 50px;
    color: #008cd2;
    outline: none;
    display: none;
}
nav.navbar {
	margin-left: auto;
}
.navbar-expand-lg .navbar-nav .nav-item {
    margin-left: 35px;
}
.navbar-expand-lg .navbar-nav .nav-link{
	padding: 0px;
	font-size: 16px;
	color: #222;
	font-weight: 400;
}
.dropdown-toggle::after {
    margin-left: 10px;
    top: 1px;
    position: relative;
}
.navbar-expand-lg .navbar-nav .nav-link:hover, .navbar-expand-lg .navbar-nav .nav-link.active{
	color: #0c4e93;
}
.header_bottom .dropdown-menu {
    padding: 0;
    top: 42px;
    min-width: auto;
}
.header_bottom .dropdown-menu .dropdown-item{
	font-size: 14px;
	padding: 6px 15px;
}
.header_bottom .dropdown-item.active,.header_bottom .dropdown-item:active, .header_bottom .dropdown-item:hover{
	color: #fff;
	background-color: #008cd2;
}
/*header section css end*/
/*breadcrumb section css start*/
.page_breadcrumb {
    background-color: #e5eaf0;
    display: table;
    width: 100%;
    border-bottom: 1px solid #dddddd;
    padding: 33px 0px;
}
.page_title h1 {
    font-size: 22px;
    font-weight: 400;
    display: inline-block;
    color: #222;
}
.page_title h1 img{
	margin-left: 15px;
	vertical-align: middle;
}
.page_breadcrumb ul {
    display: inline-block;
    margin-left: auto;
}
.page_breadcrumb ul li, .page_breadcrumb ul li a {
    display: inline-block;
    font-size: 16px;
}
.page_breadcrumb ul li:first-child:before{
    display: none;
}
.page_breadcrumb ul li:before {
    content: ">";
    display: inline-block;
    margin: 0px 10px;
}
/*breadcrumb section css end*/
/*all page search section start*/
.form-control{
	border: 1px solid #d6d6d6;
	padding: 10px 20px;
	border-radius: 0px;
	font-size: 16px;
	color: #222;
	width: 100%;
	height: 49px;
	box-shadow: none;
}
.input_with_icont .form-control{
	padding-left: 72px
}
.input_with_icont{
	position: relative;
}
.input_with_icont img{
	position: absolute;
	top: 0;
	bottom: 0;
	left: 15px;
	margin: auto;
}
.input_with_icont:after{
	content: "";
	position: absolute;
	top: 0;
	bottom: 0;
	left: 52px;
	margin: auto;
	background-color: #d6d6d6;
	height: 35px;
	width: 1px;
}
.all_page_search_section{
	border-bottom: 1px solid #dddddd;
	padding: 51px 0px;
}
.all_page_search_section label{
	font-size: 24px;
	color: #222;
}
/*all page search section end*/
/*footer section css start*/
footer {
    background-color: #111111;
    display: table;
    width: 100%;
}
.footer_top, .footer_bottom {
	padding: 50px;
}
.footer_top h6{
	font-size: 20px;
	color: #299fd9;
	padding: 10px 0px 30px;
}
footer .logo{
	padding: 65px 0px 30px;
}
footer ul li a, footer ul li p{
	color: #757575;
	font-size: 16px;
}
footer ul li a:hover{
	color: #fff;
}
.footer_left{
	float: left;
	width: 475px;
}
.footer_right{
	float: left;
	width: calc(100% - 475px);
	border-left: 1px solid #434141;
}
.footer_contact_info {
	padding: 0px 30px 30px 80px;
	height: 100%;
}
.footer_contact_info p{
	color: #757575;
	font-size: 16px;
	line-height: 28px;
	padding-bottom: 15px;
}
.footer_contact_info span{
	display: block;
	margin-top: 15px;
}
.footer_contact_info span img{
	margin-right: 10px;
}
.footer_contact_info span, .footer_contact_info span a{
	color: #fff;
}
.footer_top ul li {
    padding-left: 20px;
    list-style: none;
    position: relative;
    line-height: 36px;
}
.footer_top ul li:before {
    position: absolute;
    content: "";
    border-top: 6px solid transparent;
    border-right: 0;
    border-bottom: 6px solid transparent;
    border-left: 7px solid #757575;
    left: 0;
    top: 12px;
}
.footer_bottom{
	border-top: 1px solid #434141;
	display: table;
	width: 100%;
}
ul.copyright_text{
	float: left;
}
ul.social_media_links{
	float: right;
}
ul.copyright_text li,
ul.social_media_links li{
	display: inline-block;
	float: left;
	line-height: 40px;
}
ul.social_media_links li{
	margin-left: 10px;
}
ul.copyright_text li:after{
	display: inline-block;
	margin: 0px 5px;
	line-height: 40px;
	content: "|";
	color: #757575;
}
ul.copyright_text li p{
	display: inline-block;
}
ul.copyright_text li:last-child:after{
	display: none;
}
/*footer section css end*/